@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 0.98rem; } }

@media screen and (max-width: 990px) {
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; } }

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
    align-items: center; }
  .types__card {
    margin-bottom: 4.28rem; }
  .card__text {
    margin-left: 0; } }

@media screen and (max-width: 570px) {
  .contacts__phone {
    margin-right: 0;
    text-decoration: none;
    color: #fff; }
  .contacts__button {
    display: none; }
  .title {
    max-width: 26.75rem;
    font-size: 1.91rem;
    line-height: 2.5rem; }
  .hero {
    width: 100%; }
    .hero__scroll-down {
      display: none; }
    .hero__content {
      max-width: 31.25rem; }
    .hero__text {
      max-width: 23rem;
      font-size: 1.29rem;
      margin-bottom: 2.28rem; }
    .hero__button {
      display: block;
      min-width: 22.86rem;
      width: 100%;
      margin-bottom: 1.85rem;
      font-size: 1.08rem;
      line-height: 1.25rem; } }

@media screen and (max-width: 520px), (max-height: 520px) {
  .hero__scroll-down {
    display: none; } }
