@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 0.98rem; }
  .types .card__text {
    width: 80%;
    margin-top: -12.2rem;
    padding: 1.65rem 0 2.8rem 1.583rem; }
  .types .card__pricetag {
    display: block;
    font-size: 1.25rem;
    line-height: 138.6%;
    padding: 0.8rem 1.78rem;
    bottom: -1.5rem; }
  .design__text {
    margin-top: -12.2rem;
    padding: 1.5rem 3.41rem 3.24rem 2.583rem;
    width: 80%; }
  .design__pricetag {
    font-size: 1.25rem;
    line-height: 138.6%;
    padding: 0.916rem 3.25rem 0.66rem 2.73rem;
    bottom: -1.6rem; }
  .work {
    display: none; }
  .team {
    padding-top: 34rem;
    padding-bottom: 180rem; }
    .team-row {
      flex-direction: column;
      align-items: center; }
    .team__card {
      margin-bottom: 5rem; }
      .team__card--text {
        margin: 0 3rem;
        margin-top: -75px;
        max-height: 121px; }
    .team__text {
      margin-top: 1rem;
      color: #ffffff; }
    .team .card--icon {
      top: -26.5rem;
      left: -5.4rem; }
  .customers {
    display: none; }
  .footer {
    padding-top: 3rem; } }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .row {
    flex-direction: column;
    align-items: center; }
  .projects-slide__text {
    flex-basis: 38%;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0; }
    .projects-slide__text:nth-child(2) {
      margin-right: 0; }
    .projects-slide__text:nth-child(1), .projects-slide__text:nth-child(3) {
      margin-right: 3.3rem; }
    .projects-slide__text:nth-child(3), .projects-slide__text:nth-child(4) {
      margin-bottom: 5rem; }
  .section-title--word::after {
    display: none; }
  .card {
    margin-bottom: 4.91rem; }
    .card__text {
      margin-bottom: 0;
      padding-bottom: 4.2rem;
      padding-top: 1.4rem;
      margin-top: -9.8rem; }
    .card__title {
      margin-bottom: 0.5rem; }
    .card__list {
      margin: 0;
      margin-bottom: 0; }
    .card__item {
      margin-bottom: 0.5rem; }
    .card__pricetag {
      bottom: -1.5rem; }
  .col-30 {
    flex-basis: 32%; }
  .design {
    padding-bottom: 95rem; }
  .team {
    padding-top: 95rem; }
    .team .card--icon {
      top: -22.9rem;
      left: -5.4rem; }
  .footer {
    padding-top: 120rem; } }

@media screen and (max-width: 760px) {
  .projects-slide {
    margin-top: 2.25rem; }
    .projects-slide__text {
      flex-basis: 45%;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0; }
      .projects-slide__text:nth-child(2) {
        margin-right: 0; }
      .projects-slide__text:nth-child(1), .projects-slide__text:nth-child(3) {
        margin-right: 2rem; }
      .projects-slide__text:nth-child(3), .projects-slide__text:nth-child(4) {
        margin-bottom: 5rem; }
  .control {
    background: #131313; }
    .control-title__heading {
      font-size: 1.83rem;
      line-height: 138.6%; }
    .control__video {
      margin-bottom: 2.33rem;
      min-width: 28rem;
      width: 80%;
      background-size: cover; }
      .control__video::before {
        margin-bottom: 3.83rem; }
    .control__text {
      font-size: 1.16rem;
      line-height: 169.8%;
      width: 80%;
      margin-bottom: 2.16rem;
      min-width: 25.33rem;
      color: #ffffff; }
    .control__form {
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      min-width: 380px;
      color: #ffffff;
      margin: auto; }
    .control__policy--label {
      min-width: 30rem;
      justify-content: start;
      margin-top: -5.16rem; }
    .control__label {
      font-size: 1.25rem; }
    .control__input {
      min-width: 30rem;
      align-self: flex-start; }
      .control__input::-webkit-input-placeholder {
        color: #ffffff; }
      .control__input::-moz-placeholder {
        color: #ffffff; }
      .control__input:-ms-input-placeholder {
        color: #ffffff; }
      .control__input::-ms-input-placeholder {
        color: #ffffff; }
      .control__input::placeholder {
        color: #ffffff; }
      .control__input-group {
        margin-bottom: 5.4rem; }
    .control__button {
      width: 40%;
      margin-top: 2.45rem;
      order: 4;
      font-size: 1.25rem;
      line-height: 2.16rem;
      padding: 1rem 0; }
  .label--grey {
    color: rgba(255, 255, 255, 0.5); }
  .video {
    width: 30%; }
  .team {
    padding-top: 95rem;
    padding-bottom: 50rem;
    background-color: #252525; }
    .team__card {
      margin-bottom: 7rem; }
      .team__card--image {
        min-width: 304px;
        width: 100%; }
        .team__card--image--title {
          font-size: 2.9rem;
          line-height: 3.28rem; }
        .team__card--image--value {
          font-size: 1.5rem;
          line-height: 2.16rem; }
      .team__card--text {
        min-width: 233px;
        margin: 0 auto;
        margin-top: -125px; }
    .team__text {
      margin-top: -3rem; }
    .team .card--icon {
      top: -22.4rem;
      left: -4.4rem; }
  .footer__map {
    width: 80%; }
  .toTop {
    width: 120px; } }

@media screen and (max-width: 570px) {
  .contacts__phone {
    margin-right: 0;
    text-decoration: none;
    color: #fff; }
  .contacts__button {
    display: none; }
  .title {
    max-width: 26.75rem;
    font-size: 1.91rem;
    line-height: 2.5rem; }
  .hero {
    width: 100%; }
    .hero__scroll-down {
      display: none; }
    .hero__content {
      max-width: 31.25rem;
      margin-left: 0; }
    .hero__text {
      mi-width: 23rem;
      font-size: 1.29rem;
      margin-bottom: 2.28rem; }
    .hero__button {
      display: block;
      min-width: 22.86rem;
      width: 100%;
      margin-bottom: 1.85rem;
      font-size: 1.08rem;
      line-height: 1.25rem; }
  .projects {
    background-color: #131313; }
  .row {
    flex-direction: column;
    align-items: center; }
  .col-50 {
    width: 100%; }
  .projects-title__heading {
    font-size: 1.83rem;
    line-height: 138.6%;
    margin-bottom: 1.83rem; }
  .projects-title__text {
    font-size: 1.16rem;
    line-height: 158.48%;
    max-width: 25rem; }
  .projects-slide {
    justify-content: start;
    align-items: flex-start;
    margin-top: 2.25rem; }
    .projects-slide__text {
      flex-basis: 38%;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0; }
      .projects-slide__text:nth-child(2) {
        margin-right: 0; }
      .projects-slide__text:nth-child(1), .projects-slide__text:nth-child(3) {
        margin-right: 3.3rem; }
      .projects-slide__text:nth-child(3), .projects-slide__text:nth-child(4) {
        margin-bottom: 5.2rem; }
    .projects-slide__heading {
      font-size: 1.16rem;
      line-height: 138.6%;
      margin-bottom: 0.83rem; }
    .projects-slide__value {
      font-size: 1.16rem;
      line-height: 1.583rem; }
  .control {
    background: #131313; }
    .control-title__heading {
      font-size: 1.83rem;
      line-height: 138.6%;
      margin-bottom: 2.25rem; }
    .control__video {
      min-height: 207px;
      background-size: cover;
      background-position: center;
      margin-bottom: 2.33rem; }
      .control__video::after {
        margin-bottom: 3.83rem; }
    .control__text {
      font-size: 1.16rem;
      line-height: 169.8%;
      margin-bottom: 2.56rem;
      width: 90%;
      color: #ffffff; }
    .control__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
    .control__input {
      min-width: 320px; }
      .control__input-group {
        margin-bottom: 5.1rem; }
    .control__policy {
      min-width: 320px; }
      .control__policy--label {
        margin-top: -6rem;
        min-width: 100%; }
    .control__button {
      width: 70%;
      margin: 0 auto;
      margin-top: 2.95rem; }
  .video__play {
    width: 20%; }
  .input--dark {
    color: #ffffff; }
    .input--dark::-webkit-input-placeholder {
      color: #ffffff; }
    .input--dark::-moz-placeholder {
      color: #ffffff; }
    .input--dark:-ms-input-placeholder {
      color: #ffffff; }
    .input--dark::-ms-input-placeholder {
      color: #ffffff; }
    .input--dark::placeholder {
      color: #ffffff; }
  .types__heading {
    font-size: 1.83rem;
    line-height: 138.6%; }
  .types__image {
    margin-bottom: 3.3rem; }
  .types .card {
    margin-bottom: 4.91rem; }
    .types .card__image {
      min-width: 280px; }
    .types .card__text {
      min-width: 270px;
      width: 79%;
      margin-left: 0;
      margin-top: -12.2rem;
      padding: 1.65rem 0 2.8rem 2.583rem; }
    .types .card__title {
      font-size: 1.25rem;
      line-height: 138.6%;
      margin-bottom: 0.43rem; }
    .types .card__list {
      font-size: 1.083rem;
      line-height: 169.8%;
      padding-left: 1rem; }
    .types .card__pricetag {
      display: block;
      font-size: 1.25rem;
      line-height: 138.6%;
      padding: 0.8rem 2.78rem;
      bottom: -1.5rem; }
  .design {
    background-color: #252525;
    color: #ffffff;
    padding-bottom: 10rem; }
    .design-section__heading {
      font-size: 1.83rem;
      line-height: 138.6%;
      color: #ffffff; }
    .design-section__description {
      font-size: 1.25rem;
      line-height: 135.84%;
      max-width: 25.5rem; }
    .design__card {
      min-width: 300px; }
    .design__text {
      margin: 0;
      margin-top: -12.2rem;
      padding: 1.5rem 0 3.24rem 2.583rem;
      width: 79%; }
    .design__title {
      font-size: 1.25rem;
      line-height: 138.6%;
      margin-bottom: 0.6rem; }
    .design__list {
      font-size: 1.083rem;
      line-height: 169.8%;
      padding-left: -0.4rem; }
    .design__pricetag {
      font-size: 1.25rem;
      line-height: 138.6%;
      padding: 0.916rem 4.25rem 0.66rem 3.73rem;
      bottom: -1.6rem; }
  .card__image {
    min-width: 300px; }
  .card__item {
    margin-bottom: 0.1rem; }
    .card__item--none {
      display: none; }
  .team {
    padding-top: 120rem;
    padding-bottom: 37rem;
    background-color: #252525; }
    .team__card {
      margin-bottom: 7rem; }
      .team__card--image {
        min-width: 304px;
        width: 100%; }
        .team__card--image--title {
          font-size: 2.9rem;
          line-height: 3.28rem; }
        .team__card--image--value {
          font-size: 1.5rem;
          line-height: 2.16rem; }
      .team__card--text {
        min-width: 233px;
        margin: 0 auto;
        margin-top: -125px; }
    .team__text {
      margin-top: -3rem; }
    .team .card--icon {
      top: -25.9rem;
      left: -5.4rem; }
  .footer {
    background: #252525; }
    .footer__wrap {
      margin-top: 0;
      min-width: 280px;
      width: 90%;
      min-height: 480px;
      height: 100%;
      background: #252525;
      margin-bottom: 1.4rem; }
    .footer__title {
      font-size: 20px;
      line-height: 15px;
      margin-bottom: 4.83rem; }
    .footer__form {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .footer__input {
      min-width: 470px;
      width: 100%;
      margin-bottom: 1.95rem; }
    .footer--full-width {
      margin-bottom: 4rem; }
    .footer__policy {
      margin-top: -4.5rem;
      margin-bottom: 4.8rem; }
    .footer__button {
      font-size: 1.25rem;
      line-height: 1.5rem;
      width: 70%;
      padding: 1.305rem 0;
      margin: 0 auto; }
  .label {
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.5); }
  .input {
    min-width: 320px;
    width: 100%;
    border-bottom: 2px solid rgba(54, 54, 54, 0.3);
    font-size: 1.485rem; }
  .footer__block {
    display: flex;
    flex-direction: column-reverse; }
  .footer__menu {
    display: none; }
  .footer__map {
    width: 90%;
    min-height: 255px;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 3.416rem; }
  .footer__links {
    min-width: 280px;
    width: 94%;
    font-size: 1.5rem;
    line-height: 138.6%;
    margin: 0 auto; }
    .footer__links--title {
      margin-bottom: 4.33rem;
      margin-bottom: 1.916rem; }
  .socials {
    margin-bottom: 3.16rem;
    align-items: center; }
    .socials__icon {
      width: 3.25rem;
      height: 3.25rem;
      background-size: 60%; }
      .socials__icon--2 {
        margin-left: 0.6rem; } }

@media screen and (max-width: 520px), (max-height: 520px) {
  .hero__content {
    margin-left: 0; }
  .hero__scroll-down {
    display: none; } }

@media screen and (max-width: 365px) {
  .control {
    min-width: 365px;
    width: 100%; }
  .footer {
    min-width: 365px;
    width: 100%; }
    .footer__wrap {
      margin-top: -30rem; } }
