@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 0.98rem; } }

@media screen and (max-width: 990px) {
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; } }

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
    align-items: center; }
  .types__card {
    margin-bottom: 4.28rem; }
  __text {
    margin-left: 0; } }

@media screen and (max-width: 570px) {
  .contacts__phone {
    margin-right: 0;
    text-decoration: none;
    color: #fff; }
  .contacts__button {
    display: none; }
  .title {
    font-size: 1.91rem; }
  .hero__scroll-down {
    display: none; }
  .hero__content {
    max-width: 22.86rem; }
  .hero__text {
    font-size: 1.29rem;
    margin-bottom: 2.28rem; }
  .hero__button {
    display: block;
    min-width: 22.86rem;
    margin-bottom: 1.85rem; } }

@media screen and (max-width: 520px), (max-height: 520px) {
  .hero__scroll-down {
    display: none; } }
