.button 
 padding: 0.68rem 1.15rem
 font-family: 'Futura PT Demi'
 font-size: 0.92rem
 line-height: 1.07rem
 text-align: center
 border: none
 border-radius: 2px
 text-transform: uppercase
 cursor: pointer
 &:focus
   outline: none
 &--primary 
  background-color: $primary
  color: $light
  box-shadow: 0px 5px 15px rgba($primary, 0.2 )
  transition: box-shadow 0.3s
 &--primary:hover
  box-shadow: none
 &--outline
  border: 1px solid $light
  background-color: transparent
  color: $light
 &--outline:hover
  background-color: rgba($dark, 0.4)
.label
  font-size: 1.07rem
  &--light 
   color: rgba($light, 0.5)
.input 
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  padding: 0.5rem 0
  color: $light
  &::placeholder 
    color: $light
  &:focus
    outline: none
  &.invalid
    border-bottom: 1px solid tomato
.policy
  &__checkbox 
   opacity: 0
   visibility: none
   &:checked +
    .policy__label
     &::before 
      background-color: $primary 
      background-image: url('../img/Vector.svg')
      background-repeat: no-repeat
      background-position: center
      z-index: 200 
      border: none
  &__label
    display: flex
    align-items: center
    justify-content: flex-start
    font-family: 'Futura Book', cursive
    font-weight: normal
    font-size: 16px
    line-height: 22px
    &::before
     content: ''
     width: 18px
     height: 18px
     border: 1px solid #fff
     border-radius: 1px 
     cursor: pointer
     margin-right: 0.64rem
.invalid 
  color: tomato
  margin-top: 0.5rem

  
   