@media screen and ( max-width: 1200px )
 html
  font-size: 12px
 .nav 
  &__item
   margin-right: 0.98rem
@media screen and ( max-width: 992px )
 .nav 
  display: none
 .hero
  &__instagram
   display: none
  &__content
    margin-left: 
 .row
  flex-direction: column
  align-items: center
 .col-50
   flex-basis: 100%
   margin-bottom: 5rem
 .section-title
   min-width: 306px
   &__heading
    align-self: start
    font-size: 1.7rem
    line-height: 138%
   &--word
     &::after
       display: none
   &__text
     font-size: 1.50rem
     line-height: 130%
 .swiper-slide
   &__text
     flex-basis: 50%
   &__heading
     font-size: 1.285rem
     line-height: 1.68rem
     margin-right: 12px
   &__value
     font-size: 1.27rem
     line-height: 1.428rem 
 .card
   &__card 
   margin-bottom: 5rem
   &__text 
    margin-left: 0
   &__pricetag 
    display: block
    width: 70%
    padding: 0.99rem 1rem
@media screen and ( max-width: 760px )
 .row
  flex-direction: column
  align-items: center
 .col-50
   flex-basis: 100%
 .section-title
   min-width: 306px
   &__heading
    align-self: start
    font-size: 1.5rem
    line-height: 138%
   &__text
     font-size: 1.30rem
     line-height: 130%
 .swiper-slide
   &__text
     flex-basis: 50%
   &__heading
     font-size: 1.185rem
     line-height: 1.58rem
     margin-right: 12px
   &__value
     font-size: 1.27rem
     line-height: 1.428rem 
 .types
  &__card 
   margin-bottom: 5rem
 .card
  &__text 
    margin-left: 0
  &__pricetag
    display: block
    width: 70%
    padding: 0.99rem 1rem
 .design
  background-color: #252525
  color: #ffffff
  &__section-description
   max-width: 28rem
  &__card 
   margin-bottom: 14rem
 .section-title
   align-items: center
 .card
  &__text 
    margin-left: 0
    margin-top: -11.5rem
  &__pricetag
    display: block
    width: 70%
    padding: 0.99rem 1rem
    box-shadow: 0px 5px 15px rgba(#ffffff, 0.2)
    transition: box-shadow 0.3s
  &__pricetag:hover 
    box-shadow: none
 .card__item 
   &--none
     display: none
@media screen and ( max-width: 570px )
 .contacts 
  &__phone
   margin-right: 0
   text-decoration: none
   color: #fff
  &__button
   display: none
 .title
   max-width: 26.75rem
   font-size: 1.91rem
   line-height: 2.5rem
 .hero
   width: 100%
   &__scroll-down
     display: none
   &__content 
     max-width: 31.25rem
     margin-left: 0
   &__text 
     mi-width: 23rem
     font-size: 1.29rem
     margin-bottom: 2.28rem
   &__button
     display: block
     min-width: 22.86rem
     width: 100%
     margin-bottom: 1.85rem
     font-size: 1.08rem
     line-height: 1.25rem
 .col-50
   width: 90%
   margin-bottom: 5rem
 .section-title 
   align-items: flex-start
   &__text
     max-width: 25.5rem
     margin-bottom: 2.25rem
   &__heading
     font-size: 1.83rem
     line-height: 138.6%
     margin-bottom: 0.91rem
   &__value
    font-size: 1.16rem
    line-height: 135.8%
 .swiper-slide__image
   height: auto
 .types
   .section-title
     font-size: 1.66rem
     line-height: 138.6%
     &__heading
       margin-bottom: 1.41rem
   .design__section-image
     margin-bottom: 3.3rem
   .card 
     margin-bottom: 6rem
     &__text
       max-width: 22.5rem
       font-weight: normal
       padding: 1.75rem 3.41rem 3.083rem 2.583rem
     &__title
       font-size: 1.25rem
       line-height: 138.6%
     &__list
       font-size: 1.083rem
       line-height: 169.8%
 .design
   .section-title
     font-size: 1.83rem
     line-height: 138.6%
     &__heading
       margin-bottom: 1.25rem
   .types__section-image
     margin-bottom: 1.91rem
   .section-description
     max-width: 25.5rem
     font-size: 1.25rem
     line-height: 135.8%
   .card
     margin-bottom: 5rem
     &__text
       max-width: 22.5rem
       margin-top: -12rem
       font-weight: 
       padding: 1.5rem 3.41rem 2.183rem 2.583rem
     &__title
       margin-bottom: 1.083rem  
       font-size: 1.25rem
       line-height: 138.6%
     &__pricetag
     font-size: 1.25rem
     line-height: 138.6%     
     padding: 0.916rem 4.25rem 0.66rem 1.66rem
@media screen and ( max-width: 520px ), ( max-height: 520px )
  .hero 
    &__content
      margin-left: 0
    &__scroll-down
      display: none
  
 
 
 