@media screen and ( max-width: 1200px )
 html
  font-size: 12px
 .nav 
  &__item
   margin-right: 0.98rem
 .types
   .card
    &__text
     width: 80%
     margin-top: -12.2rem
     padding: 1.65rem 0 2.8rem 1.583rem
    &__pricetag
      display: block
      font-size: 1.25rem
      line-height: 138.6%
      padding: 0.8rem 1.78rem
      bottom: -1.5rem 
 .design
  &__text 
    margin-top: -12.2rem
    padding: 1.5rem 3.41rem 3.24rem 2.583rem
    width: 80%
  &__pricetag 
    font-size: 1.25rem
    line-height: 138.6%
    padding: 0.916rem 3.25rem 0.66rem 2.73rem
    bottom: -1.6rem
 .work
   display: none
@media screen and ( max-width: 992px )
 .nav 
  display: none
 .hero
  &__instagram
   display: none
  &__content
   margin-left:
 .row
  flex-direction: column 
  align-items: center
 .projects-slide  
  &__text 
   flex-basis: 38%
   margin-top: 0
   margin-bottom: 1rem
   padding: 0
   &:nth-child(2)
     margin-right: 0
   &:nth-child(1), &:nth-child(3)
     margin-right: 3.3rem
   &:nth-child(3), &:nth-child(4)
    margin-bottom: 5rem   
 .section-title--word
   &::after
     display: none
 .types
 .card
  margin-bottom: 4.91rem
  &__text
   margin-bottom: 0
   padding-bottom: 4.2rem
   padding-top: 1.4rem
   margin-top: -9.8rem
  &__title
    margin-bottom: 0.5rem
  &__list
    margin: 0
    margin-bottom: 0
  &__item
   margin-bottom: 0.5rem
  &__pricetag
    bottom: -1.5rem
 .col-30
  flex-basis: 32%
@media screen and ( max-width: 760px )
 .projects-slide
  &__image
  margin-top: 2.25rem   
  &__text 
   flex-basis: 45%
   margin-top: 0
   margin-bottom: 1rem
   padding: 0
   &:nth-child(2)
     margin-right: 0
   &:nth-child(1), &:nth-child(3)
     margin-right: 2rem
   &:nth-child(3), &:nth-child(4)
    margin-bottom: 5rem   
 .control
   background: #131313 
   &-title
     &__heading
       font-size: 1.83rem
       line-height: 138.6%
   &__video
     min-height: 207px
     margin-bottom: 2.33rem
     min-width: 28rem
     width: 80%
     &::before
      margin-bottom: 3.83rem 
   &__text 
     font-size: 1.16rem
     line-height: 169.8%
     width: 80%
     margin-bottom: 2.16rem
     min-width: 25.33rem
     color: #ffffff
   &__form
     flex-direction: column
     align-items: center
     flex-basis: 50%
     min-width: 380px
     color: #ffffff
     margin: auto
   &__policy
     &--label
      min-width: 30rem
      justify-content: start
      margin-top: -5.16rem
   &__input
     min-width: 30rem
     align-self: flex-start
     &::placeholder 
      color: #ffffff
     &-group 
       margin-bottom: 5.4rem
   &__button
     width: 40%
     margin-top: 2.45rem
     order: 4
     font-size: 1.25rem
     line-height: 2.16rem
     padding: 1rem 0
@media screen and ( max-width: 570px )
 .contacts 
  &__phone
   margin-right: 0
   text-decoration: none
   color: #fff
  &__button
   display: none
 .title
   max-width: 26.75rem
   font-size: 1.91rem
   line-height: 2.5rem
 .hero
   width: 100%
   &__scroll-down
     display: none
   &__content 
     max-width: 31.25rem
     margin-left: 0
   &__text 
     mi-width: 23rem
     font-size: 1.29rem
     margin-bottom: 2.28rem
   &__button
     display: block
     min-width: 22.86rem
     width: 100%
     margin-bottom: 1.85rem
     font-size: 1.08rem
     line-height: 1.25rem
 .projects 
 .row
  flex-direction: column 
  align-items: center
 .col-50
   width: 100%
 .projects-title
   &__heading
    font-size: 1.83rem
    line-height: 138.6%
    margin-bottom: 1.83rem
   &__text
     font-size: 1.16rem
     line-height: 158.48%
     max-width: 25rem 
 .projects-slide
  justify-content: start
  align-items: flex-start
  &__image
  margin-top: 2.25rem
  &__text 
   flex-basis: 38%
   margin-top: 0
   margin-bottom: 1rem
   padding: 0
   &:nth-child(2)
     margin-right: 0
   &:nth-child(1), &:nth-child(3)
     margin-right: 3.3rem
   &:nth-child(3), &:nth-child(4)
    margin-bottom: 5.2rem
  &__heading
    font-size: 1.16rem
    line-height: 138.6%
    margin-bottom: 0.83rem
  &__value
    font-size: 1.16rem
    line-height: 1.583rem
 .control
   background: #252525
   &-title
     &__heading
       font-size: 1.83rem
       line-height: 138.6%
       margin-bottom: 2.25rem
   &__video
     min-height: 207px
     margin-bottom: 2.33rem
     max-width: 330px
     &::after 
      background-size: 25%
      margin-bottom: 3.83rem 
   &__text 
     font-size: 1.16rem
     line-height: 169.8%
     margin-bottom: 2.16rem
     max-width: 30.33rem
     width: 100%
     color: #ffffff
   &__form
     flex-direction: column
     justify-content: center
     align-items: center
     min-width: 330px
     color: #ffffff
   &__policy
     &--label
      min-width: 340px
      justify-content: start
      margin-top: -5.16rem
     &-group 
       margin-bottom: 5.1rem
   &__button
     width: 90%
     margin-top: 2.45rem
     margin-bottom: -7rem
     order: 4
     font-size: 1.25rem
     line-height: 2.16rem
     padding: 1rem 0
 .light
   color: #ffffff
   &::placeholder 
    color: #ffffff
 .types
  &__heading
    font-size: 1.83rem
    line-height: 138.6%
  &__image
    margin-bottom: 3.3rem
  .card
   margin-bottom: 4.91rem
   &__image
    min-width: 340px
   &__text
    min-width: 270px
    width: 79%
    margin-left: 0
    margin-top: -12.2rem
    padding: 1.65rem 0 2.8rem 2.583rem
   &__title
     font-size: 1.25rem
     line-height: 138.6%
     margin-bottom: 0.43rem
   &__list
     font-size: 1.083rem
     line-height: 169.8%
     padding-left: 1rem
   &__pricetag
     display: block
     font-size: 1.25rem
     line-height: 138.6%
     padding: 0.8rem 2.78rem
     bottom: -1.5rem 
 .design 
  background-color: #252525 
  color: #ffffff
  padding-bottom: 10rem
  &-section__heading
   font-size: 1.83rem
   line-height: 138.6%
   color: #ffffff
  &-section__description
   font-size: 1.25rem
   line-height: 135.84%
   max-width: 25.5rem
  &__card 
    min-width: 340px
  &__text 
    margin: 0
    margin-top: -12.2rem
    padding: 1.5rem 0 3.24rem 2.583rem
    width: 79%
  &__title 
    font-size: 1.25rem
    line-height: 138.6% 
    margin-bottom: 0.6rem
  &__list 
    font-size: 1.083rem
    line-height: 169.8%
    padding-left: -0.4rem
  &__pricetag 
    font-size: 1.25rem
    line-height: 138.6%
    padding: 0.916rem 4.25rem 0.66rem 3.73rem
    bottom: -1.6rem
 .card
   &__image
     min-width: 340px
   &__item
     margin-bottom: 0.1rem
     &--none
       display: none
 .team 
   padding-top: 100rem
   padding-bottom: 5rem
   background-color: #252525
   &__title 
     color: #ffffff
 .footer
   background: #252525
   &__wrap
     margin-top: -12rem
     max-width: 28.33rem
     width: 100%
     min-height: 480px
     height: 100%
     background: #252525
     margin-bottom: 1.4rem
   &__title
     font-size: 20px
     line-height: 15px
     margin-bottom: 4.93rem
   &__form 
     min-width: 28.33rem
     flex-direction: column
     align-items: flex-start
   &__input 
     font-size: 1.25rem 
     &-group
     flex-basis: 100%
     margin-bottom: 2rem
   &__policy
    flex-basis: 100%
    margin-bottom: 3.4rem
   &__label
     &-start 
       margin-top: -3rem
   &__button 
     display: block
     width: 100%
     font-size: 1.25rem
     line-height: 1.5rem
 .label
   font-size: 1.15rem
   &--light
   color: rgba(#ffffff, 0.5)
 .input 
   min-width: 340px
   border-bottom: 2px solid rgba(54, 54, 54, 0.3)
   font-size: 1.485rem
 .footer 
   &__wrap 
     min-width: 340px
     background-color: #252525
   &__form 
     flex-direction: column 
     align-items: flex-start
     min-width: 340px
     width: 100%
     background-color: #252525
     color: #ffffff
   &__title
     font-family: 'Yeseva One', cursive
   &__block 
     display: flex 
     flex-direction: column-reverse
   &__map 
     min-width: 340px 
     min-height: 255px
     margin-bottom: 3.416rem
   &__links 
     max-width: 27rem
     font-size: 1.5rem
     line-height: 138.6%
     margin: 0 auto
     &--title
      margin-bottom: 4.33rem
      margin-bottom: 1.916rem
 .socials
   margin-bottom: 3.16rem
   align-items: center
   &__icon 
    width: 3.25rem
    height: 3.25rem
    background-size: 60%
    &--2
      margin-left: 0.6rem
 .light
   color: #ffffff
   &::placeholder 
    color: rgb(167, 155, 155)
@media screen and ( max-width: 520px ), ( max-height: 520px )
  .hero 
    &__content
      margin-left: 0
    &__scroll-down
      display: none

  
 
 
 