.hero 
 position: relative
 display: flex
 flex-direction: column
 justify-content: center
 padding-top: 90px
 background: $dark url('../img/main-bg.jpg') 
 background-repeat: no-repeat
 background-position: center
 background-size: cover
 height: 100vh
 color: $light
 &::before
   content: ''
   position: absolute
   top: 0
   left: 0
   width: 100%
   height: 100%
   background-color: rgba($dark, 0.7 )
 &::after
  content: ''
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 100% 
  height: 3.46rem
  background-color: $dark
 &__content 
  position: relative
  max-width: 40rem
  margin-left: 4.28rem
  vertical-align: top
 &__title
   margin-bottom: 19px
 &__text 
  max-width: 38.71rem
  font-family: 'Futura Book'
  font-size: 1.57rem
  line-height: 2.142rem
  margin-bottom: 2.92rem
 &__button 
   margin-right: 13px
   padding: 1.357rem 1.857rem 1.142rem 1.857rem
   font-weight: 500
   font-size: 0.92rem
   line-height: 1.07rem
 &__button--outline
   padding: 1.187rem 2.4rem 1.05rem 2.4rem
 &__instagram 
  position: absolute
  left: 0
  max-width: 80px
  height: 100%
 &__scroll-down 
  position: absolute
  left: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  font-family: 'Yeseva One'
  font-weight: normal
  font-size: 0.857rem
  line-height: 138.6%
  background-color: $dark
  text-transform: uppercase
  text-decoration: none
  color: $light
  padding: 2.457rem 3.4rem 2.385rem 3.428rem
  z-index: 3
  &::after
    content: ''
    background: url('../img/arrow.svg') no-repeat  center
    width: 1.71rem
    height: 1.71rem
    font-family: 'Yeseva One'
    border: 1px solid $primary
    border-radius: 50%
    margin-left: 0.857rem
 &__scroll-down:hover
   color: $primary
.instagram
  position: absolute
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
   display: flex
   align-items: center
   font-family: 'Futura PT Demi'
   text-transform: uppercase
   text-decoration: none
   color: $primary
   transform: rotate(90deg)
   font-size: 1rem
   line-height: 1.14rem
   &:after
    content: ''
    width: 39px
    height: 1px
    background-color: $primary
    margin-left: 12px
  &__link:hover 
    color: $light
.title 
  margin: 0
  font-family: 'Yeseva One', cursive
  font-weight: normal
  font-size: 2.857rem
  line-height: 3.785rem
  text-transform: uppercase
  &--primary
    color: $primary