.projects-title
  &__heading
    font-family: 'Yeseva One', cursive
    font-weight: normal 
    font-size: 1.928rem
    line-height: 2.642rem
    letter-spacing: -0.07em
    text-transform: uppercase
    margin-bottom: 1.628rem 
    margin-top: -8px
  &__text
     font-family: 'Futura Book', cursive
     font-weight: normal
     font-size: 1.285rem
     line-height: 2.0714rem
     margin-bottom: 0.8rem
.projects-slide
  display: flex
  flex-wrap: wrap
  &__text 
     display: flex
     flex-direction: column
     flex-basis: 30%
     margin-top: 1rem
     margin-bottom: 0.4rem
     &:nth-child(3), &:nth-child(4)
      margin-bottom: 5.07rem
     &:nth-child(2)
       margin-right: 65px
  &__heading
     font-family: 'Yeseva One', cursive
     font-weight: normal
     font-size: 1.28rem
     line-height: 1.785rem
     text-transform: uppercase
     margin-bottom: 6px
     color: $primary
  &__value
     font-family: 'Futura Book', cursive
     font-weight: normal
     font-size: 1.071rem
     line-height: 1.428rem
     color: $light 
.swiper
  &-pagination
   &-bullet
    background-color: rgba($light, 0.3)
    &-active
     background-color: $light
  &-button
   &-prev, &-next
    buttom: 0
    top: auto
    background-size: 42px
    width: 42px
    height: 14px
    outline: none
    &::after
     display: none
   &-prev
    left: 0
    background: url('../img/arrow-prev.svg') no-repeat center
   &-next
    background: url('../img/arrow-next.svg') no-repeat center
.swiper-container-horizontal > .swiper-pagination-bullets
 width: auto
 bottom: 8px
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 9px 
  width: 9px
  height: 9px
.row
  &-start
    align-items: flex-start
    






