.work
 &__margin
  padding-top: 440px
 &-title
  &__subtitle
    display: block
    font-family: 'Futura PT Demi', cursive
    font-style: normal
    font-weight: 500
    font-size: 1.071rem
    line-height: 1.5rem
    text-transform: uppercase
    color: $light
    margin-bottom: 1.1rem
  &__heading
    font-family: 'Yeseva One', cursive
    font-weight: normal 
    font-size: 1.928rem
    line-height: 2.642rem
    text-transform: uppercase
    margin-bottom: 5rem
  &--word
   display: flex
   align-items: center
   &::after
    content: ''
    width: 90px
    height: 2px
    background-color: $primary
    margin-left: 6.3rem
.work-slide
 &__heading
   font-family: 'Yeseva One', cursive
   font-weight: normal 
   font-size: 1.071rem
   line-height: 1.642rem
   text-transform: uppercase
   color: $primary
   &--word
    display: block
 &__sub
   display: block
   font-family: 'Yeseva One', cursive
   font-weight: normal 
   font-size: 1.285rem
   line-height: 1.785rem
   text-transform: uppercase
   color: $light
   margin-bottom: 1.3rem
 &__value
   max-width: 23.2rem
   font-family: 'Futura Book', cursive
   font-weight: normal 
   font-size: 1.071rem
   line-height: 1.785rem
   color: $light
   margin-bottom: 5.185rem
   margin-top: -0.4rem
   &--margin
    margin-bottom: 1.2rem
 .work
  &-slide
   display: flex
   flex-direction: column
  &-row
   display: flex
   flex-wrap: wrap
  &-col
   flex-basis: 33%
   color: $light
   &__number
    font-family: 'Yeseva One', cursive
    font-weight: normal 
    font-size: 1.071rem
    line-height: 1.5rem
    text-transform: uppercase
   &__value
    font-family: 'Futura Book', cursive
    font-weight: normal 
    font-size: 1.071rem
    line-height: 1.285rem
    &--word
     display: block
